<div class="app-shell">
  <mat-sidenav-container>
    <mat-sidenav-content>  
      <mat-toolbar class="toolbar" color="primary">
          <a href="">Home</a>
        <div class="toolbar-actions">
          <a routerLink="/register">
              Register
            </a>
          <a href="/chat">Chat
          </a>
        </div>  
      </mat-toolbar>

      <div class="main">
        <router-outlet></router-outlet>  
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>